* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100hv;
    background-color: #F3E6D8;
}

.heading {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    margin-top: 1rem;
}

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: flex-start;
    margin: 5rem auto;
    max-width: 900px;
    width: 90%;
    border-radius: 2rem;
    padding: 2rem;
}

.omelette-img {
    border-radius: 2rem;
    width: 100%;
    max-height: auto;
}

.def {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
  color: #858480;
  text-align: justify;
}

.prep {
    background-color: #fff5fa;
    margin-top: 1rem;
    padding: 2rem 3rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 2rem;
    line-height: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prep h2{
    color: #8c335a;
}

.prep li {
    margin-top: 1rem;
    color:  #858480;
}

.prep li::marker{
    color: #8c335a;
}

.prep-list {
    color: #514f46;
    font-weight: 600;
    margin-left: 1rem;
}

.ingred {
    color: #858480;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 1rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #858480;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

.ingred h2 {
    color: #500000;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    margin-top: 1rem;
}

.ingred li {
    margin-top: 1rem;
}

.ingred-list {
    margin-left: 1rem;
}

.ingred li::marker {
    color: #500000;
}

.nut h2 {
    color: #500000;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    margin-top: 1rem;
}
.nut table {
    border-collapse: separate; 
    border-spacing: 0 1.5rem; 
    width: 100%;
    color: #858480;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nut td {
    padding: 10px;
    border-bottom: 1px solid #858480;
}

.nut tr td:last-child {
    color: #500000;
    font-weight: 600;
}

.attribution { 
    font-size: 0.75rem; 
    text-align: center; 
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
}
    
.attribution a { 
    color: #8c335a;
}

@media (max-width: 480px) {
    body{
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
    .container{
        margin: 0 auto;
        border-radius: 0px;
        padding: 0;
        width: 100%;
    }
    .omelette-img{
        border-radius: 0;
        width: 100%;
        height: auto;
    }
    .heading, .def, .prep, .ingred, .nut {
        margin: 0 1rem;
    }
}